block content
  nav(class="navbar custom-navbar navbar-expand-lg")
    div(class="container")
      div(class="navbar-header")
        a(href="/")
          img(src="./images/cars-45-logo.png", alt="logo" class="img-fluid header-logo")
      button(class="navbar-toggler collapsed nav-btn" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation")
        span
        span
        span


      div(class="collapse navbar-collapse" id="navbarCollapse")
        ul(class="navbar-nav ml-auto")
          li(class="nav-item")
            a(class="nav-link js-scroll" href="#")
              span Buy a Car
          li(class="nav-item ")
            a(class="nav-link js-scroll" href="#")
              span Sell a Car
          li(class="nav-item ")
            a(class="nav-link js-scroll" href="#")
              span Swap a Car
          li(class="nav-item ")
            a(class="nav-link js-scroll" href="#")
              span Become a Franchise
          li(class="nav-item ")
            a(class="nav-link js-scroll" href="#")
              span FAQs
          li(class="nav-item")
            a(class="nav-link js-scroll" href="#")
              span Other Services